{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
  <link rel="stylesheet" href="{% static 'css/main.css' %}">
  <link rel="icon" href="{% static 'imges\Frame 8.svg' %}" type="image/x-icon">
  <link rel="shortcut icon" href="{% static 'imges\Frame 8.svg' %}" type="image/x-icon">
  <title>{% block title %} {% endblock %}</title>
</head>

<body>
  <div class="background">
    <div class="blob blob1"></div>
    <div class="blob blob2"></div>
    <div class="blob blob3"></div>
  </div>
  <div class="container">
    <div id="sidebar" class="sidebar">
      <div class="close-btn-container">
        <span class="close-btn" id="close-btn" onclick="closeSidebar(event)">×</span>
      </div>
      <a href="{% url 'home' %}" class="nav-link" aria-current="page">Главная страница</a>
      <a href="{% url 'about' %}" class="nav-link">О нас</a>
    </div>
    <div class="content" id="content">
      <div class="info_btn">
        <a class="logo_link" href="{% url 'home' %}"><img src="{% static 'imges\Frame7.svg' %}" alt=""></a>
        <button class="open-btn" id="open-btn" onclick="toggleSidebar(event)">☰</button>
        {% block restarting %}{% endblock %}
      </div>
      {% block content %}

      {% endblock %}
    </div>
  </div>



  <script src="{% static 'JS\script.js' %}"></script>
</body>

</html>